/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  color: rgb(34,17,17);
  padding-top: 3.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #bb377d, #fbd3e9, #bb377d);
  /* cherryblossoms gradient */
}

#navbar {
  background: linear-gradient(to right, #bb377d, #fbd3e9, #bb377d);
}

.shadow-text {
  text-shadow: 4px 4px 4px #aaa;
}

/* below is to offset body padding-top, so navbar links to correct place */
.anchor-for-navbar {
  padding-top: 80px;
  margin-top: -80px;
}

#main-image-and-header {
  margin-bottom: 3%;
}

.box-shadow {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

#process {
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 20px;
}

.process-header {
  background: pink;
}

#service-offerings {
  background: azure;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  /* border: 3px solid green; */
  margin-left: -150px;
  margin-right: -150px;
  padding: 20px;
}

.wedding-types-ul {
  text-align: left;
  /* border: 1px solid green; */
  margin: 20px auto;
  padding: 0px;
  display: inline-block;
}

.no-bullets {
  list-style-type: none;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.background-ireland-wedding {
  background: url(assets/ireland-wedding.jpg);
  width: 100%;
  height: 100%;
  /* background-attachment: fixed; */
  /* fixed will make it parallax effect */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: azure;
  min-height: 720px;
  /* 720px is the height of the original image */
}

#about-text {
  padding-top: 20px;
}

.top-center-text {
  position: absolute;
  top: 3%;
  left: 20%;
  right: 20%;
  font-size: 48px;
}

.green-text {
  /* color: rgb(72,191,25); */
  color: green;
  font-size: 48px;
  padding-bottom: 20px;
}

.slide-image {
  /* border: 5px solid red; */
  width: 650px;
  max-height: 500px;
  /* background-size: cover; */
  background-size: contain;
}

.add-padding-to-text {
  padding-left: 15%;
  padding-right: 15%;
  /* background-color: black; */
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 480px) {
  .add-padding-to-text {
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: blue; */
  }
}
