/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.top-center-text {
    position: absolute;
    top: 3%;
    left: 20%;
    right: 20%;
    font-size: 48px;
    color: black;
}

.add-padding {
  padding-left: 15%;
  padding-right: 15%;
  /* border: 5px solid green; */
}
