/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.shadow-text {
  text-shadow: 4px 4px 4px #aaa;
}

/* below is to offset body padding-top, so navbar links to correct place */
.anchor-for-navbar {
  padding-top: 80px;
  margin-top: -80px;
}

.left-align-block {
  display: inline-block;
  text-align: left;
}

.wedding-types-ul {
  list-style-type: none;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.background-ireland-wedding {
  background: url(assets/ireland-wedding.jpg);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  min-height: 720px;
  /* 720px is the height of the original image */
}

.about-jumbotron {
  background-color: white;
}

.top-center-text {
  position: absolute;
  top: 3%;
  left: 20%;
  right: 20%;
  font-size: 48px;
  color: black;
}

.add-padding-to-text {
  padding-left: 15%;
  padding-right: 15%;
  /* background-color: black; */
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 480px) {
  .add-padding-to-text {
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: blue; */
  }
}
